## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.vs/
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
nuget.exe
**/[Pp]ackages/*

## IDE
.idea/
.vscode/
*.swp
*.swo
*~

## Publish output
publish/

## OS
.DS_Store
Thumbs.db
